In [1]:
# import dependencies
import os
import csv
from pandas import DataFrame
import pandas as pd
import numpy as np
from datetime import datetime
import datetime as dt
import time
from sqlalchemy import create_engine

In [17]:
# read csv into data frame
citations = pd.read_csv('data/citations_db_ready/citations_0000000001.csv', nrows = 1000)
citations.head()

,agency,body_style,color,fine_amount,issue_date,issue_time,latitude,location,longitude,make,meter_id,route,ticket_number,violation_code,violation_description
0,2,PA,BK,58.0,2015-12-21,2055.0,-118.401151,200 WORLD WAY,33.945212,NISS,NaN,2R2,1104803000,8939,WHITE CURB
1,2,PA,WH,NaN,2015-12-26,1515.0,-118.401009,100 WORLD WAY,33.945212,ACUR,NaN,2F11,1104820732,000,17104h
2,1,PA,BK,93.0,2015-12-21,1041.0,-118.363082,10635 FRIAR ST,34.185788,HOND,NaN,15EL5,1108321723,8056E4,RED ZONE
3,1,NaN,GO,363.0,2015-12-19,1550.0,-118.438092,14006 RIVERSIDE DR,34.157607,HOND,NaN,35MQ1,1109139006,225078A,HANDICAP/NO DP ID
4,36,PA,WH,68.0,2015-12-26,1815.0,-118.311225,3200 CANYON DR,34.126932,TOYO,NaN,NaN,1109455266,8603,PK IN PROH AREA

### db transfer temporary process

In [3]:
citations_2 = citations.fillna(0)

In [18]:
# preview the missing values and the % of missing values in each column
df = citations_2
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

missing_values_table(df)

Selected dataframe has 15 columns.
There are 8 columns that have missing values.

                       Missing Values  % of Total Values
meter_id                      1071143               67.6
route                            6144                0.4
make                             1069                0.1
fine_amount                       863                0.1
body_style                        822                0.1
color                             373                0.0
issue_time                        266                0.0
violation_description              95                0.0

In [5]:
citations_2.drop(["issue_time", "meter_id", "route"], axis = 1, inplace = True)

In [6]:
citations_2['issue_date'] = pd.to_datetime(citations_2['issue_date'], dayfirst=True)

In [16]:
# check data type in dataframe convert data to an appropriate format
citations.dtypes

agency                     int64
body_style                object
color                     object
fine_amount              float64
issue_date                object
issue_time               float64
latitude                 float64
location                  object
longitude                float64
make                      object
meter_id                  object
route                     object
ticket_number              int64
violation_code            object
violation_description     object
dtype: object

In [11]:
citations['issue_time'] = pd.to_datetime(citations['issue_time'])

In [15]:
citations['issue_time'] = pd.to_datetime(citations['issue_time'],format ='%H:%M:%S')

ValueError: time data 2055 does not match format '%H:%M:%S' (match)

In [13]:
citations

,agency,body_style,color,fine_amount,issue_date,issue_time,latitude,location,longitude,make,meter_id,route,ticket_number,violation_code,violation_description
0,2,PA,BK,58.0,2015-12-21,00:00:00.000002,-118.401151,200 WORLD WAY,33.945212,NISS,NaN,2R2,1104803000,8939,WHITE CURB
1,2,PA,WH,NaN,2015-12-26,00:00:00.000001,-118.401009,100 WORLD WAY,33.945212,ACUR,NaN,2F11,1104820732,000,17104h
2,1,PA,BK,93.0,2015-12-21,00:00:00.000001,-118.363082,10635 FRIAR ST,34.185788,HOND,NaN,15EL5,1108321723,8056E4,RED ZONE
3,1,NaN,GO,363.0,2015-12-19,00:00:00.000001,-118.438092,14006 RIVERSIDE DR,34.157607,HOND,NaN,35MQ1,1109139006,225078A,HANDICAP/NO DP ID
4,36,PA,WH,68.0,2015-12-26,00:00:00.000001,-118.311225,3200 CANYON DR,34.126932,TOYO,NaN,NaN,1109455266,8603,PK IN PROH AREA
5,36,PA,GY,68.0,2015-12-27,00:00:00.000001,-118.311225,3200 CANYON DR,34.126932,INFI,NaN,NaN,1109455270,8603,PK IN PROH AREA
6,36,TR,BL,68.0,2015-12-23,00:00:00.000002,-118.235839,835 N ACADEMY RD,34.079291,TOYO,NaN,NaN,1109455745,8603,PK IN PROH AREA
7,36,PA,GY,68.0,2015-12-26,00:00:00.000002,-118.283476,3787 MARATHON,34.083872,TOYO,NaN,NaN,1109455970,8603,PK IN PROH AREA
8,36,PA,WH,68.0,2015-12-23,00:00:00.000002,-118.408075,2551 MOTOR,34.046872,MERC,NaN,NaN,1109810450,8603,PK IN PROH AREA
9,36,SU,BK,68.0,2015-12-26,00:00:00.000002,-118.189051,1141 EAGLE VISTA DR,34.143399,SCIO,NaN,NaN,1109811360,8603,PK IN PROH AREA
10,34,PA,BK,68.0,2015-12-27,00:00:00.000002,-118.408075,2551 MOTOR AVE,34.046872,CADI,NaN,NaN,1109818625,6344K2,NO PK BET 1-3AM
11,36,NaN,BU,68.0,2015-12-26,00:00:00.000001,-118.466982,501 S VENICE BLVD,33.986903,OLDS,NaN,NaN,1111259715,80714,PRIVATE PROPERTY
12,2,SU,WH,58.0,2015-12-23,00:00:00.000002,-118.401408,380 WORLD WAY U/L,33.945212,BMW,NaN,2F91,1111881573,8939,WHITE CURB
13,11,PA,WH,50.0,2015-12-12,00:00:00,-118.483668,7610 WOODLEY AVE,34.208644,HOND,NaN,1A4,1111884071,4000A1,NO EVIDENCE OF REG
14,11,PA,GY,50.0,2015-12-12,00:00:00,-118.483668,7610 WOODLEY AVE,34.208644,HOND,NaN,1A4,1111884082,4000A1,NO EVIDENCE OF REG
15,11,UT,RE,50.0,2015-12-18,00:00:00.000001,-118.483668,7610 WOODLEY AVE 1E,34.208644,LROV,NaN,1A4,1111884104,4000A1,NO EVIDENCE OF REG
16,11,PA,GR,50.0,2015-12-19,00:00:00.000001,-118.483668,7610 WOODLEY AVE/B,34.208644,NISS,NaN,1A4,1111884115,4000A1,NO EVIDENCE OF REG
17,11,PA,BK,50.0,2015-12-19,00:00:00.000001,-118.483668,7610 WOODLEY AVE 2A,34.208644,TOYO,NaN,1A4,1111884126,4000A1,NO EVIDENCE OF REG
18,11,PA,GO,50.0,2015-12-19,00:00:00.000001,-118.483668,7610 WOODLEY AVE,34.208644,SUBA,NaN,1A4,1111884130,4000A1,NO EVIDENCE OF REG
19,2,PA,BK,NaN,2015-12-27,00:00:00,-118.401579,500 WORLD WAY UPPER,33.945212,TOYO,NaN,3A314,1111915173,000,17104h
20,11,PA,GY,50.0,2015-12-21,00:00:00,-118.483668,7610 WOODLEY AVE 4C,34.208644,INFI,NaN,1A4,1111927515,4000A1,NO EVIDENCE OF REG
21,11,SU,RE,50.0,2015-12-21,00:00:00.000001,-118.483668,7610 WOODLEY AVE,34.208644,CHRY,NaN,1A4,1111927526,002,4000A
22,11,PA,GY,58.0,2015-12-21,00:00:00.000001,-118.483668,7610 WOODLEY AVE 4B,34.208644,INFI,NaN,1A4,1111927530,8940,PARKING AREA
23,2,PA,YE,58.0,2015-12-22,00:00:00,-118.401864,700 WORLD WAY L/L,33.945212,TOYO,NaN,3L20,1111967183,8939,WHITE CURB
24,2,PA,YE,68.0,2015-12-22,00:00:00,-118.401864,700 WORLD WAY L/L,33.945212,TOYO,NaN,3L20,1111967194,007,22500B
25,2,PA,WH,58.0,2015-12-28,00:00:00,-118.401579,500 WORLD WAY U/L,33.945212,BUIC,NaN,3L20,1111967205,8939,WHITE CURB
26,2,PA,RE,58.0,2015-12-16,00:00:00.000001,-118.401579,500 WORLD WAY L/L,33.945212,TOYO,NaN,2C5B,1111979492,8939,WHITE CURB
27,2,PA,WH,363.0,2015-12-23,00:00:00.000001,-118.401294,300 WORLD WAY,33.945212,TOYO,NaN,2R2,1111986724,030,22522
28,2,PA,BK,25.0,2015-12-24,00:00:00.000001,-118.407015,251 WORLD WAY,33.944551,CADI,NaN,1R2,1112006442,5204A,EXPIRED TAGS
29,2,PA,GY,25.0,2015-12-24,NaT,-118.407015,251 WORLD WAY,33.944551,HYUN,NaN,1R2,1112006453,5204A,EXPIRED TAGS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,54,PA,BK,73.0,2015-12-30,00:00:00,-118.292100,4711 AMBROSE AVE,34.109892,LINC,NaN,00442,4272779825,80.69BS,NO PARK/STREET CLEAN
971,54,PA,WT,73.0,2015-12-30,00:00:00,-118.292404,4721 AMBROSE AVE,34.109838,TOYT,NaN,00442,4272779836,80.69BS,NO PARK/STREET CLEAN
972,54,PA,WT,73.0,2015-12-30,00:00:00,-118.293996,1900 BERENDO ST N,34.105403,TOYT,NaN,00442,4272779873,80.69BS,NO PARK/STREET CLEAN
973,54,PA,WT,73.0,2015-12-30,00:00:00,-118.298180,1961 PALMERSTON PL,34.107090,HOND,NaN,00442,4272779910,80.69BS,NO PARK/STREET CLEAN
974,54,PA,BK,73.0,2015-12-30,00:00:00,-118.298137,1953 PALMERSTON PL,34.106891,MERZ,NaN,00442,4272779921,80.69BS,NO PARK/STREET CLEAN
975,54,PA,BK,73.0,2015-12-30,00:00:00,-118.297981,1941 PALMERSTON PL,34.106617,TOYT,NaN,00442,4272779943,80.69BS,NO PARK/STREET CLEAN
976,54,PA,GY,73.0,2015-12-30,00:00:00,-118.297588,1917 PALMERSTON PL,34.106105,MERZ,NaN,00442,4272779965,80.69BS,NO PARK/STREET CLEAN
977,54,PA,WT,73.0,2015-12-30,00:00:00,-118.299463,1902 MARIPOSA AVE N,34.105418,BMW,NaN,00442,4272780002,80.69BS,NO PARK/STREET CLEAN
978,54,PA,BK,25.0,2015-12-30,00:00:00.000001,-118.304598,640 HARVARD BLVD N,34.082443,TOYT,NaN,00445,4272786792,5204A-,DISPLAY OF TABS
979,54,PA,SL,93.0,2015-12-30,00:00:00.000001,-118.303066,4722 MELROSE AVE W,34.083541,ACUR,NaN,00445,4272786803,80.69AP+,NO STOP/STANDING
980,54,PA,WT,63.0,2015-12-30,00:00:00.000001,-118.325568,3101 CANYON LAKE DR,34.125803,HYUN,NaN,00473,4272789415,22502A,18 IN. CURB/2 WAY
981,51,PA,WT,63.0,2015-12-30,00:00:00.000001,-118.383666,1101 ROBERTSON BL S,34.057099,MERZ,PR75,00112,4272795833,88.13B+,METER EXP.
982,51,PA,BK,25.0,2015-12-30,00:00:00.000001,-118.357383,1028 CURSON AVE,34.056842,MERZ,NaN,00112,4272795844,5204A-,DISPLAY OF TABS
983,51,PA,BK,63.0,2015-12-30,00:00:00.000001,-118.348270,5500 WILSHIRE BL,34.062255,HOND,MM800,00112,4272795855,88.13B+,METER EXP.
984,51,PA,BK,25.0,2015-12-30,00:00:00.000001,-118.348270,5500 WILSHIRE BL,34.062255,HOND,NaN,00112,4272795866,5204A-,DISPLAY OF TABS
985,51,PA,RD,25.0,2015-12-30,00:00:00.000001,-118.350068,800 BURNSIDE AVE,34.060630,HOND,NaN,00112,4272795870,5204A-,DISPLAY OF TABS
986,51,PA,WT,58.0,2015-12-30,00:00:00.000001,-118.421958,10601 PICO BL W,34.043481,DODG,PW48,00112,4272795881,88.03A,OUTSIDE LINES/METER
987,51,PA,RD,93.0,2015-12-30,00:00:00.000001,-118.438493,2200 PONTIUS AVE,34.039841,TOYT,NaN,00112,4272795925,80.56E4+,RED ZONE
988,56,PA,MR,93.0,2015-12-30,00:00:00.000001,-118.216380,1800 CESAR E CHAVEZ AVE,34.050651,HOND,NaN,00601,4272809752,80.69AP+,NO STOP/STANDING
989,56,PA,BK,58.0,2015-12-30,00:00:00.000001,-118.246677,300 2ND ST E,34.052395,HOND,NaN,00601,4272809763,80.56E2,YELLOW ZONE
990,56,PA,GY,63.0,2015-12-30,00:00:00.000001,-118.244727,301 LOS ANGELES ST S,34.048517,SUBA,CC1260A,00601,4272809774,88.13B+,METER EXP.
991,56,PA,GY,58.0,2015-12-30,00:00:00.000001,-118.262777,1000 FLOWER ST S,34.044383,TOYT,CB5726,00601,4272809785,88.03A,OUTSIDE LINES/METER
992,56,PA,GY,63.0,2015-12-30,00:00:00.000001,-118.263840,500 12TH ST W,34.040490,MAZD,CB3471,00601,4272809796,88.13B+,METER EXP.
993,56,PA,GY,63.0,2015-12-30,00:00:00.000001,-118.265442,501 12TH ST W,34.041524,HYUN,CB3467,00601,4272809800,88.13B+,METER EXP.
994,56,PA,GY,58.0,2015-12-30,00:00:00.000001,-118.263049,1100 HOPE ST S,34.042252,CHEV,NaN,00601,4272809811,80.56E1,WHITE ZONE
995,56,PA,BK,63.0,2015-12-30,00:00:00.000001,-118.257357,1887 SAN PEDRO ST S,34.027751,CADI,LT204,00601,4272810743,88.13B+,METER EXP.
996,56,PA,SL,63.0,2015-12-30,00:00:00.000001,-118.257357,1887 SAN PEDRO ST S,34.027751,HOND,LT35,00601,4272810754,88.13B+,METER EXP.
997,56,PA,BK,63.0,2015-12-30,00:00:00.000001,-118.248293,400 SPRING ST,34.048820,LEXS,CB4349A,00601,4272810765,88.13B+,METER EXP.
998,56,PA,GY,93.0,2015-12-30,00:00:00.000001,-118.249626,500 SPRING ST S,34.047390,CHEV,NaN,00601,4272810791,80.69AP+,NO STOP/STANDING
999,56,PA,SL,93.0,2015-12-30,00:00:00.000001,-118.249626,500 SPRING ST S,34.047390,HOND,NaN,00601,4272810802,80.69AP+,NO STOP/STANDING

In [14]:
# Create database connection
connection_string = "root:root@127.0.0.1:3306/la_parking_db"
engine = create_engine(f'mysql+pymysql://{connection_string}')

In [15]:
# Confirm tables
engine.table_names()

['meters_inventory', 'parking_citations']

In [16]:
# Load DataFrames into database
citations_2.to_sql(name = 'parking_citations', con = engine, if_exists = 'append', index = False)

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'ticket_number' at row 1388")
[SQL: INSERT INTO parking_citations (agency, body_style, color, fine_amount, issue_date, latitude, location, longitude, make, ticket_number, violation_code, violation_description) VALUES (%(agency)s, %(body_style)s, %(color)s, %(fine_amount)s, %(issue_date)s, %(latitude)s, %(location)s, %(longitude)s, %(make)s, %(ticket_number)s, %(violation_code)s, %(violation_description)s)]
[parameters: ({'agency': 2, 'body_style': 'PA', 'color': 'BK', 'fine_amount': 58.0, 'issue_date': datetime.datetime(2015, 12, 21, 0, 0), 'latitude': -118.40115138698648, 'location': '200 WORLD WAY', 'longitude': 33.94521197960505, 'make': 'NISS', 'ticket_number': 1104803000, 'violation_code': '8939', 'violation_description': 'WHITE CURB'}, {'agency': 2, 'body_style': 'PA', 'color': 'WH', 'fine_amount': 0.0, 'issue_date': datetime.datetime(2015, 12, 26, 0, 0), 'latitude': -118.40100895210728, 'location': '100 WORLD WAY', 'longitude': 33.94521190370117, 'make': 'ACUR', 'ticket_number': 1104820732, 'violation_code': '000', 'violation_description': '17104h'}, {'agency': 1, 'body_style': 'PA', 'color': 'BK', 'fine_amount': 93.0, 'issue_date': datetime.datetime(2015, 12, 21, 0, 0), 'latitude': -118.36308164758756, 'location': '10635 FRIAR ST', 'longitude': 34.18578759614399, 'make': 'HOND', 'ticket_number': 1108321723, 'violation_code': '8056E4', 'violation_description': 'RED ZONE'}, {'agency': 1, 'body_style': 0, 'color': 'GO', 'fine_amount': 363.0, 'issue_date': datetime.datetime(2015, 12, 19, 0, 0), 'latitude': -118.43809200614618, 'location': '14006 RIVERSIDE DR', 'longitude': 34.15760734984511, 'make': 'HOND', 'ticket_number': 1109139006, 'violation_code': '225078A', 'violation_description': 'HANDICAP/NO DP ID'}, {'agency': 36, 'body_style': 'PA', 'color': 'WH', 'fine_amount': 68.0, 'issue_date': datetime.datetime(2015, 12, 26, 0, 0), 'latitude': -118.31122510633895, 'location': '3200 CANYON DR', 'longitude': 34.12693207728415, 'make': 'TOYO', 'ticket_number': 1109455266, 'violation_code': '8603', 'violation_description': 'PK IN PROH AREA'}, {'agency': 36, 'body_style': 'PA', 'color': 'GY', 'fine_amount': 68.0, 'issue_date': datetime.datetime(2015, 12, 27, 0, 0), 'latitude': -118.31122510633895, 'location': '3200 CANYON DR', 'longitude': 34.12693207728415, 'make': 'INFI', 'ticket_number': 1109455270, 'violation_code': '8603', 'violation_description': 'PK IN PROH AREA'}, {'agency': 36, 'body_style': 'TR', 'color': 'BL', 'fine_amount': 68.0, 'issue_date': datetime.datetime(2015, 12, 23, 0, 0), 'latitude': -118.23583907081294, 'location': '835 N ACADEMY RD', 'longitude': 34.079291051906395, 'make': 'TOYO', 'ticket_number': 1109455745, 'violation_code': '8603', 'violation_description': 'PK IN PROH AREA'}, {'agency': 36, 'body_style': 'PA', 'color': 'GY', 'fine_amount': 68.0, 'issue_date': datetime.datetime(2015, 12, 26, 0, 0), 'latitude': -118.28347602892012, 'location': '3787 MARATHON', 'longitude': 34.083872134965354, 'make': 'TOYO', 'ticket_number': 1109455970, 'violation_code': '8603', 'violation_description': 'PK IN PROH AREA'}  ... displaying 10 of 1585132 total bound parameter sets ...  {'agency': 54, 'body_style': 'PA', 'color': 'BK', 'fine_amount': 63.0, 'issue_date': datetime.datetime(2015, 4, 28, 0, 0), 'latitude': -118.37122807106151, 'location': '600 FLORES ST N', 'longitude': 34.08206558407946, 'make': 'AUDI', 'ticket_number': 4257621675, 'violation_code': '88.13B+', 'violation_description': 'METER EXP.'}, {'agency': 54, 'body_style': 'PA', 'color': 'YE', 'fine_amount': 63.0, 'issue_date': datetime.datetime(2015, 4, 28, 0, 0), 'latitude': -118.36144185690551, 'location': '7900 MELROSE AV', 'longitude': 34.08383302118872, 'make': 'CHEV', 'ticket_number': 4257621686, 'violation_code': '88.13B+', 'violation_description': 'METER EXP.'})]
(Background on this error at: http://sqlalche.me/e/9h9h)