In [2]:
# import dependencies
import os
import csv
from pandas import DataFrame
import pandas as pd
import numpy as np
from datetime import datetime
import datetime as dt
import glob

In [3]:
# display column names in a csv  
path = '../data_collection_munging/parking_citations/data/citations_db_ready/citations_0000000001.csv'
headers_list = pd.read_csv(path, sep=",")
headers_list.head(2)

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,agency,body_style,color,fine_amount,issue_date,latitude,location,longitude,make,meter_id,route,ticket_number,violation_code,violation_description
0,2,PA,BK,58.0,2015-12-21,33.945212,200 WORLD WAY,-118.401151,NISS,NaN,2R2,1104803000,8939,WHITE CURB
1,2,PA,WH,NaN,2015-12-26,33.945212,100 WORLD WAY,-118.401009,ACUR,NaN,2F11,1104820732,000,17104h

# Graph  1  |    Citations per Year / Month

In [40]:
# loop over csv files and extract columns needed

path = '../data_collection_munging/parking_citations/data/citations_db_ready/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep=",", usecols=[4, 11])
    li.append(df)
new_df = pd.concat(li)
print(f'There are: {len(new_df)} records in dataframe')
new_df.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are: 8076329 records in dataframe

   issue_date ticket_number
0  2015-12-21    1104803000
1  2015-12-26    1104820732
2  2015-12-21    1108321723
3  2015-12-19    1109139006
4  2015-12-26    1109455266

In [41]:
# convert "issue_date" column to a date 
new_df['issue_date'] = pd.to_datetime(new_df['issue_date'], dayfirst=True)

In [43]:
# sort dataframe rows between two dates-----(2014 - 2019)
start_date = "2014-01-01"
end_date = "2019-12-31"

mask = (new_df['issue_date'] > start_date) & (new_df['issue_date'] <= end_date)
new_df.loc[mask]
citations_2014_2019 = new_df.loc[mask]

print(f'There are: {len(citations_2014_2019)} records as of {end_date}')
print("=============================================================")
print(f'{len(new_df)-len(citations_2014_2019)} records were disregarded')
citations_2014_2019.head()

There are: 8076220 records as of 2019-12-31
=============================================================
109 records were disregarded

  issue_date ticket_number
0 2015-12-21    1104803000
1 2015-12-26    1104820732
2 2015-12-21    1108321723
3 2015-12-19    1109139006
4 2015-12-26    1109455266

In [44]:
# put year, month, and a day into separate columns
citations_2014_2019['Year'] = citations_2014_2019['issue_date'].dt.year
citations_2014_2019['Month'] = citations_2014_2019['issue_date'].dt.month
# citations_2015_2018['Day'] = citations_2015_2018['issue_date'].dt.day
citations_2014_2019.drop(["issue_date"], axis = 1, inplace = True)

citations_2014_2019.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

  ticket_number  Year  Month
0    1104803000  2015     12
1    1104820732  2015     12
2    1108321723  2015     12
3    1109139006  2015     12
4    1109455266  2015     12

In [46]:
# count citations by year and month
df_top_frequency = citations_2014_2019.groupby(['Year'])['ticket_number'].agg(
    {"counts": len}).sort_values("Year", ascending=True).reset_index()

df_top_frequency.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

   Year   counts
0  2014    34207
1  2015  1542798
2  2016  1864010
3  2017  2154788
4  2018  1772390

In [47]:
df_top_frequency.to_csv("visualization_data/graph_1_citations_by_yyyy.csv", encoding = 'utf-8', index = False)

# Map Visualization 1 | Areas with Highest Number of Tickets

In [126]:
# loop over csv files and extract columns needed

path = '../data_collection_munging/parking_citations/data/citations_db_ready/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep=",", usecols=[5, 6, 7, 11])
    li.append(df)
new_df = pd.concat(li)
print(f'There are: {len(new_df)} records in dataframe')
new_df.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are: 8076329 records in dataframe

    latitude            location   longitude ticket_number
0  33.945212       200 WORLD WAY -118.401151    1104803000
1  33.945212       100 WORLD WAY -118.401009    1104820732
2  34.185788      10635 FRIAR ST -118.363082    1108321723
3  34.157607  14006 RIVERSIDE DR -118.438092    1109139006
4  34.126932      3200 CANYON DR -118.311225    1109455266

In [129]:
# count citations by year and month
df_top_frequency = new_df.groupby(['location', 'latitude', 'longitude'])['ticket_number'].agg(
    {"counts": len}).sort_values("counts", ascending=False).reset_index()

df_top_frequency

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

                        location   latitude   longitude  counts
0              1301 ELECTRIC AVE  33.991691 -118.467910    8330
1           1600 IRVING TABOR CT  33.990358 -118.463691    6318
2             101 LARCHMONT BL N  34.073023 -118.323530    4591
3               2110 CORINTH AVE  34.038852 -118.443275    3910
4                4301 TUJUNGA AV  34.147865 -118.378977    3379
5               2377 MIDVALE AVE  34.040144 -118.429894    3347
6              7000 HAWTHORN AVE  34.100334 -118.341399    3337
7            11100 WEDDINGTON ST  34.166995 -118.372456    3295
8                1152 LEMOYNE ST  34.076191 -118.260221    3250
9               3101 GLENDALE BL  34.116139 -118.263042    3199
10                5901 98TH ST W  33.947344 -118.385970    3168
11               4300 TUJUNGA AV  34.147812 -118.378977    3129
12            200 LARCHMONT BL N  34.071124 -118.323523    3025
13            11001 MCCORMICK ST  34.165950 -118.371458    2997
14            100 LARCHMONT BL N  34.073023 -118.323530    2913
15              1235 FIGUEROA PL  33.782415 -118.281029    2762
16                  123 AVE 57 N  34.109773 -118.193010    2757
17              12100 VENTURA BL  34.143565 -118.395250    2586
18            101 LARCHMONT BL N  34.073023 -118.323530    2467
19               600 SPRING ST S  34.045956 -118.250963    2267
20              2377 MIDVALE AVE  34.040144 -118.429894    2203
21             1301 ELECTRIC AVE  33.991691 -118.467910    2157
22                1400 HOPE ST S  34.038146 -118.266525    2141
23          11601 SAN VICENTE BL  34.050751 -118.480653    2138
24               2200 CORINTH AV  34.037618 -118.442211    2133
25              12300 VENTURA BL  34.143499 -118.400831    2106
26          11900 SAN VICENTE BL  34.052044 -118.472886    2105
27               14301 DELANO ST  34.182650 -118.444346    2036
28              12100 VENTURA BL  34.143565 -118.395250    2004
29                  300 2ND ST E  34.052395 -118.246677    1997
...                          ...        ...         ...     ...
1645537           2344 DALLAS ST  34.093490 -118.240284       1
1645538         2344 COCHRAN AVE  34.036477 -118.356854       1
1645539         2344 AVENUE 31 W  34.106499 -118.236708       1
1645540              2344 5TH ST  34.035347 -118.322433       1
1645541           2344 31ST ST W  34.026486 -118.319226       1
1645542        2344 MCKINLEY AVE  33.986722 -118.462761       1
1645543           2344 21ST ST W  34.038096 -118.316145       1
1645544           2344 20TH ST W  34.038963 -118.316189       1
1645545             2344 20TH ST  34.016285 -118.466770       1
1645546          23439 HAYNES ST  34.189892 -118.637520       1
1645547       23439 FRIAR STREET  34.185566 -118.638024       1
1645548        23430 DOLOROSA ST  34.170100 -118.637165       1
1645549             2344 EADS ST  34.094115 -118.240844       1
1645550           2344 FOLSOM ST  34.048618 -118.207350       1
1645551           2344 FORNEY ST  34.094685 -118.241469       1
1645552        2344 FOX HILLS DR  34.049692 -118.414038       1
1645553        2344 GATES STREET  34.072785 -118.206479       1
1645554         2344 GLENCOE AVE  33.997529 -118.447877       1
1645555         2344 GLYNDON AVE  33.996659 -118.449831       1
1645556         2344 GLYNDON AVE  33.996659 -118.449831       1
1645557  2344 GRIFFITH PARK BLVD  34.102101 -118.272328       1
1645558  2344 GRIFFITH PARK BLVD  34.102101 -118.272328       1
1645559          2344 HANCOCK ST  34.072749 -118.209054       1
1645560      2344 HANCOCK STREET  34.072749 -118.209054       1
1645561         2344 JOHNSTON ST  34.072730 -118.210343       1
1645562         2344 JOHNSTON ST  34.072734 -118.210332       1
1645563     2344 JOHNSTON STREET  34.072730 -118.210343       1
1645564           2344 KELTON AV  34.040368 -118.431428       1
1645565         2344 LUCERNE AVE  34.035809 -118.342474       1
1645566      ZELZAH AV & MARGATE  34.168602 -118.522026       1

[1645567 rows x 4 columns]

In [132]:
df_top_frequency_1 = df_top_frequency[df_top_frequency.counts > 50]
df_top_frequency_1.head()

               location   latitude   longitude  counts
0     1301 ELECTRIC AVE  33.991691 -118.467910    8330
1  1600 IRVING TABOR CT  33.990358 -118.463691    6318
2    101 LARCHMONT BL N  34.073023 -118.323530    4591
3      2110 CORINTH AVE  34.038852 -118.443275    3910
4       4301 TUJUNGA AV  34.147865 -118.378977    3379

In [133]:
df_top_frequency_1.to_csv("visualization_data/map_1_citations_areas.csv", encoding = 'utf-8', index = False)

# Graph  2  |    Top 10 Parking Violations

In [48]:
# loop over csv files and extract columns needed

path = '../data_collection_munging/parking_citations/data/citations_db_ready/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep=",", usecols=[4, 11, 13])
    li.append(df)
new_df = pd.concat(li)
print(f'There are: {len(new_df)} records in dataframe')
new_df.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are: 8076329 records in dataframe

   issue_date ticket_number violation_description
0  2015-12-21    1104803000            WHITE CURB
1  2015-12-26    1104820732                17104h
2  2015-12-21    1108321723              RED ZONE
3  2015-12-19    1109139006     HANDICAP/NO DP ID
4  2015-12-26    1109455266       PK IN PROH AREA

In [49]:
# convert "issue_date" column to a date 
new_df['issue_date'] = pd.to_datetime(new_df['issue_date'], dayfirst=True)

In [50]:
# sort dataframe rows between two dates-----(2014 - 2019)
start_date = "2014-01-01"
end_date = "2019-12-31"

mask = (new_df['issue_date'] > start_date) & (new_df['issue_date'] <= end_date)
new_df.loc[mask]
violations_2014_2019 = new_df.loc[mask]

print(f'There are: {len(violations_2014_2019)} records as of {end_date}')
print("=============================================================")
print(f'{len(new_df)-len(violations_2014_2019)} records were disregarded')
violations_2014_2019.head()

There are: 8076220 records as of 2019-12-31
=============================================================
109 records were disregarded

  issue_date ticket_number violation_description
0 2015-12-21    1104803000            WHITE CURB
1 2015-12-26    1104820732                17104h
2 2015-12-21    1108321723              RED ZONE
3 2015-12-19    1109139006     HANDICAP/NO DP ID
4 2015-12-26    1109455266       PK IN PROH AREA

In [51]:
# put year, month, and a day into separate columns
violations_2014_2019['Year'] = violations_2014_2019['issue_date'].dt.year
violations_2014_2019.drop(["issue_date"], axis = 1, inplace = True)

violations_2014_2019.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

  ticket_number violation_description  Year
0    1104803000            WHITE CURB  2015
1    1104820732                17104h  2015
2    1108321723              RED ZONE  2015
3    1109139006     HANDICAP/NO DP ID  2015
4    1109455266       PK IN PROH AREA  2015

In [53]:
# count citations by year and month
df_top_frequency = violations_2014_2019.groupby(['violation_description'])['ticket_number'].agg(
    {"counts": len}).sort_values("counts", ascending=False).reset_index()

df_top_frequency

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

              violation_description   counts
0              NO PARK/STREET CLEAN  2253925
1                        METER EXP.  1567254
2              PREFERENTIAL PARKING   605718
3                          RED ZONE   598872
4                   DISPLAY OF TABS   469719
5                        NO PARKING   364420
6                 DISPLAY OF PLATES   232441
7                        WHITE ZONE   193300
8            PARKED OVER TIME LIMIT   167679
9                  NO STOP/STANDING   149860
10             PARKED OVER TIME LIM   111620
11                 STANDNG IN ALLEY   101246
12                BLOCKING DRIVEWAY    99527
13                      YELLOW ZONE    88126
14              STOP/STAND PROHIBIT    87793
15                    NO STOP/STAND    83005
16               PARKED ON SIDEWALK    67328
17                     FIRE HYDRANT    64203
18                18 IN. CURB/2 WAY    63709
19   NO STOPPING/ANTI-GRIDLOCK ZONE    59346
20                  EXCEED 72HRS-ST    57732
21              OUTSIDE LINES/METER    55016
22                   DOUBLE PARKING    54331
23             OFF STR/OVERTIME/MTR    49142
24               NO EVIDENCE OF REG    32673
25             NO STOPPING/ANTI-GRI    30573
26         COMM VEH OVER TIME LIMIT    20306
27                PARKED IN PARKWAY    18115
28        DISABLED PARKING/NO DP ID    17799
29                       WHITE CURB    16577
..                              ...      ...
513                         572821E        1
514                         572522E        1
515                        572521E7        1
516                         572521B        1
517                           57252        1
518                         572125D        1
519                            5608        1
520                           6344B        1
521                          6349K2        1
522                           8061D        1
523                            8046        1
524                          80611D        1
525                          806110        1
526                           8060E        1
527                           8060A        1
528                           8058D        1
529                           8056E        1
530                           8054H        1
531                          8051H1        1
532                           8040A        1
533                            6844        1
534                            8040        1
535                           80371        1
536                           80361        1
537                            8036        1
538                          80351B        1
539                           8015A        1
540                            8014        1
541                           68714        1
542                          8066D1        1

[543 rows x 2 columns]

In [54]:
df_top_frequency.to_csv("visualization_data/graph_2_top10_violations.csv", encoding = 'utf-8', index = False)

# Graph  3  |    Parking Tickets Revenue

In [87]:
# loop over csv files and extract columns needed

path = '../data_collection_munging/parking_citations/data/citations_db_ready/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep=",", usecols=[3, 4, 5, 7, 11, 13])
    li.append(df)
new_df = pd.concat(li)
print(f'There are: {len(new_df)} records in dataframe')
new_df.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are: 8076329 records in dataframe

,fine_amount,issue_date,latitude,longitude,ticket_number,violation_description
0,58.0,2015-12-21,33.945212,-118.401151,1104803000,WHITE CURB
1,NaN,2015-12-26,33.945212,-118.401009,1104820732,17104h
2,93.0,2015-12-21,34.185788,-118.363082,1108321723,RED ZONE
3,363.0,2015-12-19,34.157607,-118.438092,1109139006,HANDICAP/NO DP ID
4,68.0,2015-12-26,34.126932,-118.311225,1109455266,PK IN PROH AREA

In [88]:
# convert "issue_date" column to a date 
new_df['issue_date'] = pd.to_datetime(new_df['issue_date'], dayfirst=True)

In [89]:
# sort dataframe rows between two dates-----(2014 - 2019)
start_date = "2014-01-01"
end_date = "2019-12-31"

mask = (new_df['issue_date'] > start_date) & (new_df['issue_date'] <= end_date)
new_df.loc[mask]
revenue_2014_2019 = new_df.loc[mask]

print(f'There are: {len(revenue_2014_2019)} records as of {end_date}')
print("=============================================================")
print(f'{len(new_df)-len(revenue_2014_2019)} records were disregarded')
revenue_2014_2019.head()

There are: 8076220 records as of 2019-12-31
=============================================================
109 records were disregarded

,fine_amount,issue_date,latitude,longitude,ticket_number,violation_description
0,58.0,2015-12-21,33.945212,-118.401151,1104803000,WHITE CURB
1,NaN,2015-12-26,33.945212,-118.401009,1104820732,17104h
2,93.0,2015-12-21,34.185788,-118.363082,1108321723,RED ZONE
3,363.0,2015-12-19,34.157607,-118.438092,1109139006,HANDICAP/NO DP ID
4,68.0,2015-12-26,34.126932,-118.311225,1109455266,PK IN PROH AREA

In [90]:
# preview the missing values and the % of missing values in each column
df = revenue_2014_2019
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

missing_values_table(df)

Selected dataframe has 6 columns.
There are 4 columns that have missing values.

                       Missing Values  % of Total Values
fine_amount                      3024                0.0
violation_description             390                0.0
latitude                            2                0.0
longitude                           2                0.0

In [91]:
revenue_2014_2019_V2 = revenue_2014_2019.dropna(axis = 0, how ='any')

In [92]:
print("Old data frame length:", len(revenue_2014_2019), "\nNew data frame length:",  
       len(revenue_2014_2019_V2), "\nNumber of rows with at least 1 NA value: ", 
       (len(revenue_2014_2019)-len(revenue_2014_2019_V2)))

Old data frame length: 8076220
New data frame length: 8073177
Number of rows with at least 1 NA value:  3043

In [93]:
# put year, month, and a day into separate columns
revenue_2014_2019_V2['Year'] = revenue_2014_2019_V2['issue_date'].dt.year
revenue_2014_2019_V2['Month'] = revenue_2014_2019_V2['issue_date'].dt.month
# citations_2015_2018['Day'] = citations_2015_2018['issue_date'].dt.day
revenue_2014_2019_V2.drop(["issue_date"], axis = 1, inplace = True)

revenue_2014_2019_V2.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,fine_amount,latitude,longitude,ticket_number,violation_description,Year,Month
0,58.0,33.945212,-118.401151,1104803000,WHITE CURB,2015,12
2,93.0,34.185788,-118.363082,1108321723,RED ZONE,2015,12
3,363.0,34.157607,-118.438092,1109139006,HANDICAP/NO DP ID,2015,12
4,68.0,34.126932,-118.311225,1109455266,PK IN PROH AREA,2015,12
5,68.0,34.126932,-118.311225,1109455270,PK IN PROH AREA,2015,12

In [114]:
# count citations by year and month
df_top_frequency = revenue_2014_2019_V2.groupby(['Year', 'fine_amount'])['ticket_number'].agg(
    {"counts": len}).sort_values("counts", ascending=False).reset_index()

df_top_frequency

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

     Year  fine_amount  counts
0    2017         73.0  725880
1    2018         73.0  610983
2    2016         73.0  603101
3    2015         73.0  426141
4    2015         63.0  426022
5    2016         63.0  411642
6    2017         63.0  405547
7    2018         63.0  316900
8    2017         68.0  314388
9    2018         68.0  265692
10   2017         93.0  261488
11   2016         68.0  257615
12   2019         73.0  242226
13   2018         93.0  218644
14   2016         93.0  209649
15   2017         25.0  207129
16   2015         68.0  204880
17   2016         58.0  175745
18   2017         58.0  172554
19   2018         25.0  164616
20   2015         93.0  161698
21   2016         25.0  157621
22   2015         58.0  157357
23   2018         58.0  143652
24   2015         25.0  124992
25   2019         63.0  124848
26   2019         68.0  108485
27   2019         93.0   90231
28   2019         25.0   66597
29   2019         58.0   54156
..    ...          ...     ...
137  2017        353.0       4
138  2016        255.0       4
139  2015        505.0       3
140  2018         55.0       3
141  2017         65.0       3
142  2018        255.0       3
143  2018        353.0       2
144  2017         70.0       2
145  2014        143.0       2
146  2014        505.0       2
147  2017        345.0       2
148  2018         80.0       2
149  2017        123.0       2
150  2016        345.0       2
151  2019         55.0       2
152  2016        353.0       2
153  2015        353.0       2
154  2014         10.0       2
155  2015         55.0       1
156  2017        255.0       1
157  2017         85.0       1
158  2015        123.0       1
159  2018         70.0       1
160  2014        255.0       1
161  2016        330.0       1
162  2014        128.0       1
163  2018         30.0       1
164  2014         40.0       1
165  2019        345.0       1
166  2017         75.0       1

[167 rows x 3 columns]

In [98]:
df_top_frequency['revenue'] = df_top_frequency.fine_amount * df_top_frequency.counts
df_top_frequency.head()

   Year  fine_amount  counts     revenue
0  2017         73.0  725880  52989240.0
1  2018         73.0  610983  44601759.0
2  2016         73.0  603101  44026373.0
3  2015         73.0  426141  31108293.0
4  2015         63.0  426022  26839386.0

In [99]:
df_top_frequency.drop(["fine_amount", "counts"], axis = 1, inplace = True)

In [111]:
df_top_frequency_2 = (df_top_frequency.groupby('Year')['revenue'].sum())
x = pd.DataFrame(df_top_frequency_2).reset_index()
x

   Year      revenue
0  2014    2371300.0
1  2015  107172665.0
2  2016  130124635.0
3  2017  151606561.0
4  2018  124737643.0
5  2019   49971119.0

In [110]:
x.to_csv("visualization_data/graph_3_revenue_by_yyyy.csv", encoding = 'utf-8', index = False)

# Map Visualization 2 | Areas with Highest Amount of Revenue

In [140]:
# loop over csv files and extract columns needed

path = '../data_collection_munging/parking_citations/data/citations_db_ready/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep=",", usecols=[3, 5, 6, 7, 11])
    li.append(df)
new_df = pd.concat(li)
print(f'There are: {len(new_df)} records in dataframe')
new_df.head()

There are: 8076329 records in dataframe

   fine_amount   latitude            location   longitude ticket_number
0         58.0  33.945212       200 WORLD WAY -118.401151    1104803000
1          NaN  33.945212       100 WORLD WAY -118.401009    1104820732
2         93.0  34.185788      10635 FRIAR ST -118.363082    1108321723
3        363.0  34.157607  14006 RIVERSIDE DR -118.438092    1109139006
4         68.0  34.126932      3200 CANYON DR -118.311225    1109455266

In [141]:
map_2 = new_df.dropna(axis = 0, how ='any')

In [142]:
print("Old data frame length:", len(new_df), "\nNew data frame length:",  
       len(map_2), "\nNumber of rows with at least 1 NA value: ", 
       (len(new_df)-len(map_2)))

Old data frame length: 8076329
New data frame length: 8073293
Number of rows with at least 1 NA value:  3036

In [160]:
# count citations by year and month
df_top_frequency = map_2.groupby(['latitude', 'longitude', 'location', 'fine_amount'])['ticket_number'].agg(
    {"counts": len}).sort_values("counts", ascending=False).reset_index()

df_top_frequency.head()

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

    latitude   longitude              location  fine_amount  counts
0  33.991691 -118.467910     1301 ELECTRIC AVE         63.0    6736
1  33.990358 -118.463691  1600 IRVING TABOR CT         63.0    5225
2  34.073023 -118.323530    101 LARCHMONT BL N         63.0    4230
3  34.038852 -118.443275      2110 CORINTH AVE         68.0    3656
4  34.147865 -118.378977       4301 TUJUNGA AV         63.0    3207

In [161]:
df_top_frequency['revenue'] = df_top_frequency.fine_amount * df_top_frequency.counts
df_top_frequency.head()

    latitude   longitude              location  fine_amount  counts   revenue
0  33.991691 -118.467910     1301 ELECTRIC AVE         63.0    6736  424368.0
1  33.990358 -118.463691  1600 IRVING TABOR CT         63.0    5225  329175.0
2  34.073023 -118.323530    101 LARCHMONT BL N         63.0    4230  266490.0
3  34.038852 -118.443275      2110 CORINTH AVE         68.0    3656  248608.0
4  34.147865 -118.378977       4301 TUJUNGA AV         63.0    3207  202041.0

In [162]:
df_top_frequency_1 = df_top_frequency[df_top_frequency.revenue > 2000]
df_top_frequency_1.head()

    latitude   longitude              location  fine_amount  counts   revenue
0  33.991691 -118.467910     1301 ELECTRIC AVE         63.0    6736  424368.0
1  33.990358 -118.463691  1600 IRVING TABOR CT         63.0    5225  329175.0
2  34.073023 -118.323530    101 LARCHMONT BL N         63.0    4230  266490.0
3  34.038852 -118.443275      2110 CORINTH AVE         68.0    3656  248608.0
4  34.147865 -118.378977       4301 TUJUNGA AV         63.0    3207  202041.0

In [163]:
df_top_frequency_1.drop(["fine_amount", "counts"], axis = 1, inplace = True)

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [165]:
df_top_frequency_1.to_csv("visualization_data/map_2_revenue_areas.csv", encoding = 'utf-8', index = False)

# Graph 5 | Fines Distribution

In [122]:
# loop over csv files and extract columns needed

path = '../data_collection_munging/parking_citations/data/citations_db_ready/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep=",", usecols=[3])
    li.append(df)
new_df = pd.concat(li)
print(f'There are: {len(new_df)} records in dataframe')
new_df.head()

There are: 8076329 records in dataframe

   fine_amount
0         58.0
1          NaN
2         93.0
3        363.0
4         68.0

In [123]:
# preview the missing values and the % of missing values in each column
df = new_df
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

missing_values_table(df)

Selected dataframe has 1 columns.
There are 1 columns that have missing values.

             Missing Values  % of Total Values
fine_amount            3032                0.0

In [124]:
new_df_2 = new_df.dropna(axis = 0, how ='any')

In [125]:
new_df_2.to_csv("visualization_data/graph_4_fines_distribution.csv", encoding = 'utf-8', index = False)

# Graph 4 | Top 10 Revenue by Violation Type

In [80]:
# loop over csv files and extract columns needed

path = '../data_collection_munging/parking_citations/data/citations_db_ready/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep=",", usecols=[3, 4, 5, 7, 11, 13])
    li.append(df)
new_df = pd.concat(li)
print(f'There are: {len(new_df)} records in dataframe')
new_df.head()

There are: 8076329 records in dataframe

,fine_amount,issue_date,latitude,longitude,ticket_number,violation_description
0,58.0,2015-12-21,33.945212,-118.401151,1104803000,WHITE CURB
1,NaN,2015-12-26,33.945212,-118.401009,1104820732,17104h
2,93.0,2015-12-21,34.185788,-118.363082,1108321723,RED ZONE
3,363.0,2015-12-19,34.157607,-118.438092,1109139006,HANDICAP/NO DP ID
4,68.0,2015-12-26,34.126932,-118.311225,1109455266,PK IN PROH AREA

In [81]:
# preview the missing values and the % of missing values in each column
df = new_df
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

missing_values_table(df)

Selected dataframe has 6 columns.
There are 5 columns that have missing values.

                       Missing Values  % of Total Values
fine_amount                      3032                0.0
violation_description             390                0.0
latitude                            4                0.0
longitude                           4                0.0
issue_date                          2                0.0

In [82]:
graph_5 = new_df.dropna(axis = 0, how ='any')

In [83]:
# count citations by year and month
df_top_frequency = graph_5.groupby(['violation_description', 'fine_amount'])['ticket_number'].agg(
    {"counts": len}).sort_values("counts", ascending=False).reset_index()

df_top_frequency

/Users/pavelaltukhov/anaconda3/envs/meters_ml_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

              violation_description  fine_amount   counts
0              NO PARK/STREET CLEAN         73.0  2253930
1                        METER EXP.         63.0  1567269
2              PREFERENTIAL PARKING         68.0   605718
3                          RED ZONE         93.0   598868
4                   DISPLAY OF TABS         25.0   469563
5                        NO PARKING         73.0   364415
6                 DISPLAY OF PLATES         25.0   232441
7                        WHITE ZONE         58.0   193299
8            PARKED OVER TIME LIMIT         58.0   167679
9                  NO STOP/STANDING         93.0   149860
10             PARKED OVER TIME LIM         58.0   111620
11                 STANDNG IN ALLEY         68.0   101246
12                BLOCKING DRIVEWAY         68.0    99527
13                      YELLOW ZONE         58.0    88121
14              STOP/STAND PROHIBIT         93.0    87793
15                    NO STOP/STAND         93.0    83005
16               PARKED ON SIDEWALK         68.0    67329
17                     FIRE HYDRANT         68.0    64203
18                18 IN. CURB/2 WAY         63.0    63709
19   NO STOPPING/ANTI-GRIDLOCK ZONE        163.0    59346
20                  EXCEED 72HRS-ST         68.0    57732
21              OUTSIDE LINES/METER         58.0    55016
22                   DOUBLE PARKING         68.0    54328
23             OFF STR/OVERTIME/MTR         58.0    49142
24               NO EVIDENCE OF REG         50.0    32588
25             NO STOPPING/ANTI-GRI        163.0    30573
26                PARKED IN PARKWAY         63.0    18115
27        DISABLED PARKING/NO DP ID        363.0    17799
28                       WHITE CURB         58.0    16578
29             OVNIGHT PRK W/OUT PE         68.0    14986
..                              ...          ...      ...
386                          22500H         35.0        1
387                           80741         68.0        1
388                    PK TRAILER 2         68.0        1
389                           8606B         68.0        1
390                            8753        255.0        1
391                PK OVERSIZED 1ST         50.0        1
392                 PK OUTSD PK STL         53.0        1
393                 PK IN PROH AREA         60.0        1
394                           8813C         63.0        1
395            PARKING/FRONT YARD 3        143.0        1
396                           8939B         68.0        1
397                          89691A         78.0        1
398                      BALD TIRES         35.0        1
399                  PARKING PROHIB         50.0        1
400                         572521B        105.0        1
401                           5200C         25.0        1
402                          225022         63.0        1
403                          22502A         50.0        1
404                          22502A         68.0        1
405               BLOCKING DRIVEWAY         25.0        1
406                 PARK-PSTD AREAS         88.0        1
407                         572125D        105.0        1
408                         22502AE         63.0        1
409                  PARK FIRE LANE         35.0        1
410                          22502B         35.0        1
411                          22502E         55.0        1
412                           5202A         50.0        1
413                          225078        345.0        1
414                NO STOP/STAND PM         80.0        1
415                           6344B         58.0        1

[416 rows x 3 columns]

In [84]:
df_top_frequency['revenue'] = df_top_frequency.fine_amount * df_top_frequency.counts
df_top_frequency.head()

  violation_description  fine_amount   counts      revenue
0  NO PARK/STREET CLEAN         73.0  2253930  164536890.0
1            METER EXP.         63.0  1567269   98737947.0
2  PREFERENTIAL PARKING         68.0   605718   41188824.0
3              RED ZONE         93.0   598868   55694724.0
4       DISPLAY OF TABS         25.0   469563   11739075.0

In [85]:
df_top_frequency.to_csv("visualization_data/graph_5_revenue_by_violation.csv", encoding = 'utf-8', index = False)